[Unit]
Description=dyndns

[Service]
Type=simple
PIDFile=/run/dyndns.pid
ExecStart=/usr/bin/java -jar /opt/supertools/dyndns/release/dyndns-0.0.1-SNAPSHOT.jar
User=root
Group=root
WorkingDirectory=/opt/supertools/dyndns/release
StandardOutput=/var/log/dyndns.log
StandardError=/var/log/dyndns_err.log
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target